* {
    margin: 0;
    outline: none; 
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family: 'Montserrat', sans-serif;
}

html {
    background: url(https://images.unsplash.com/photo-1501419737817-eadda6b445e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1975&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.calculator {
    background-color: #c8dcdd;
    padding: 1rem 2rem 2rem 2rem;
    border: .2rem solid #79908e;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.26);
}

.main .calculator button {
    font-size: 1.5rem;
    margin: .5rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1px solid gray;
}

#pointBtn {
    padding: 2rem 2.75rem;
}

#subtract {
    padding: 2rem 2.7rem;
}

#one {
    padding: 2rem 2.7rem;
}

.top-bar {
    text-align: center;
}

#clearBtn {
    padding-left: 4.3rem;
    padding-right: 4.2rem;
    transition: .4s;        
}

#clearBtn:hover {
    background-color: #bdbdbd;
    transform: scale(1.1);
}

#deleteBtn {
    padding-left: 4.3rem;
    padding-right: 4.5rem;
    transition: .4s;
}

#deleteBtn:hover {
    background-color: #e76262e1;
    transform: scale(1.1);
}

.screen-current {
    font-size: 3.8rem;
    margin-bottom: 2rem;
    text-align: right;
    margin-right: 2rem;
}

.first-row button {
    transition: .4s;
}

.first-row button:hover {
    background-color: #b1ccd2;
    transform: scale(1.1);
}

.second-row button {
    transition: .4s;
}

.second-row button:hover {
    background-color: #abc3cd;
    transform: scale(1.1);
}

.third-row button {
    transition: .4s;
}

.third-row button:hover {
    background-color: #8cadb2;
    transform: scale(1.1);
}

.fourth-class button {
    transition: .4s;
}

.fourth-class button:hover {
    background-color: #6d86829d;
    transform: scale(1.1);
}

#previousScreen {
    position: absolute;
    margin: -2rem;
    background-color: white;
}

.main .name {
    padding-bottom: 5rem;
    text-align: center;
    color: gray;
}

.theScreen {
    background-color: white;
    padding-top: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.11);
}